@page
@model AboutModel
@{
    ViewData["Title"] = "About Trident Sports Club";
}


<div class="row">
  
    <div class="col-md-5">
        <h2>@ViewData["Title"]</h2>
        <p>
            Trident Sports Club wants to build a strong tradition of developing sport with dedication to teamwork and sportmanship in a competitive spirit for all its members.
            the Club will also provide a facility, a safe environment and knowledge to enable members to develop their abilities and allow them to reach their full potential.
        </p>
        <p>
            In cooperation with other organisations, the club will take every opportunity to promote and increase interest in cricket, mainly in Stockholm.

            The Association shall conduct Cricket to start with.

        </p>
    </div>
    <div class="col-md-5">
        
        <p> <a href="/Index"><img src="~/images/Sponsors/sponsor2.png" alt="Sponsor placeholder" class="img-responsive" /></a> </p>
       

    </div>

</div>
