@page
@model AboutModel
@{
    ViewData["Title"] = "About Trident Sports Club";
}


<div class="row">
  
    <div class="col-md-5">
        <h2>@ViewData["Title"]</h2>

        <h3>
            Trident Cricket Club - A tale of passion!
            
        </h3>
        <p>
            Trident Cricket Club was formed not only to increase the opportunities to play cricket but also to build  proud tradition to develop cricket with dedication to teamwork, sportsmanship, in a competitive spirit and improve the quality of cricket in Stockholm. Due to the geographic location and the number of expatriates is still on the rise in Sweden, there are very few opportunities to play cricket. Like many other countries, Sweden has become one of the developing members of the game. Many expatriates from all over the world with their passion of the game reside here. At the same time Swedish Cricket Association which is maturing every year,  holds various competition and leagues, mostly concentrated in Stockholm and during the summer.
        </p>
        <p>
            We as a club aim to become the hub of cricket in the north of Stockholm, provide facility, safe environment and the expertise to grow cricketing skills, allow club members to gain full potential and participate in all formats of the game all year around. Due to the harsh and gloomy winters, playing outdoor cricket in Sweden becomes tough and  is not possible. We even plan to play the tennis/indoor ball cricket during winter, in an indoor halls, to keep ourselves within the game, at the same time develop cricketing skills among juniors. We do have cricketing ambitions, but above all, we want to enjoy this brilliant sport in good company. The overall goal is to promote the game, so the club is open to anybody, who wants to learn or already has the passion to play with true spirit of cricket in mind at all times .

        </p>
        <h2>Come and join the party!</h2>
    </div>
    <div class="col-md-5">

        <p> <a href="/Index"><img src="~/images/Common/trident-long.jpeg" alt="Trident sports club" class="img-responsive" /></a> </p>

        
    </div>

</div>
