@page
@model IndexModel
@{
    ViewData["Title"] = "Trident Sports Club";
}
<div>
    <img alt="Trident sports club" src="~/images/homepage/Cricketbanner.jpg" width="100%" />
</div>
<div>
    <h1 style="font-family:'Britannic Bold';text-align:center">"Passion, Teamwork and Diversity"</h1>
</div>
<div>
    <h1>
        Welcome !

    </h1>
    <h3>
        Thank you for visiting our webpage! Trident Sports Club wants to build a strong tradition of developing sport with dedication to teamwork and sportsmanship in a competitive spirit for all its members. The Club will provide facility, a safe environment and knowledge to enable members to develop their abilities and allow them to reach their full potential.
    </h3>
    <h3>
        <b>Trident Sports Club presents Trident Cricket Club.</b> In cooperation with other organisations, the club will take every opportunity to promote and increase interest in cricket, mainly in Stockholm county, Sweden.
    </h3>
</div>


