@page
@model TridentSportsClub.Web.SupportorsModel
@{
    ViewData["Title"] = "Our Supportors";
}

    <h2>@ViewData["Title"]</h2>

<img alt="work in Progress" src="~/images/Common/wip.PNG" width="70%" />


