@page
@model TridentSportsClub.Web.Pages.News.FoundedModel
@{
}
<h2>The Trident Cricket Club's Board members</h2>
<img src="~/images/Common/board.png" alt="the board" width="800px" />
<p>
    The club is available online at the <a href="https://tridentsportsclub.com" target="_blank">Trident Sports club's offical web site</a>
</p>