@page
@model TridentSportsClub.Web.Pages.News.IndexModel
@{
}

    <h2>The Beginning</h2>
    <p>
        Trident Sports Club was formed on September 2019, primarily focused on Cricket, in Stockholm. The club was formed jointly by 3 members, and later followed by 15+ members in a mere one month. The club constitution was drafted and compiled, with support of RF and SCF governing members. Trident Sports Club is registered with the local tax office (Skatteverket), RF (RiksidrottsFörbundet), Stockholm Stad, SCF (Svenska Cricket Förbundet) and Idorttonline. The club registered an online domain (https://tridentsportsclub.com) , and also to manage and administrate all club artifacts, the club has licensed Office 365 from Microsoft. As a member of the club you will have privilege, to access all club documents.
    </p>